= form_errors_if_any(@image)
%h2 Add an Image from your Computer
= render partial: "form", locals: {image: @image, upload_type: "local", error_upload_type: @error_upload_type}
%h2 Add an Image from the Internets
= render partial: "form", locals: {image: @image, upload_type: "remote", error_upload_type: @error_upload_type}
%br
%hr
#container
  #images-container
    - @images.each do |image|
      = image_tag image.content.url, alt: image.name, class: "full-image hidden-image", id: "image-#{image.id}"
  #thumbnails-container
    - @images.each do |image|
      = render partial: "image", locals: {image: image}