#add-image-form
  #headline
    %h1 ACNE Imagerium
    = form_errors_if_any(@image)
  #local-image-form
    %h4 Add an Image from your Computer
    = render partial: "form", locals: {image: @image, upload_type: "local", error_upload_type: @error_upload_type}
  #remote-image-form
    %h4 Add an Image from the Internets
    = render partial: "form", locals: {image: @image, upload_type: "remote", error_upload_type: @error_upload_type}
#container
  #images-container
    - @images.each do |image|
      .image-view-wrapper.hidden-image
        .direction-wrapper
          = prev_image_button(image)
        .image-wrapper
          = image_tag image.content.url, alt: image.name, class: "full-image", id: "image-#{image.id}"
        .direction-wrapper
          = next_image_button(image)
  #thumbnails-container
    - @images.each do |image|
      = render partial: "thumbnail", locals: {image: image}